<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Página 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido {{ usuario.nombre ? usuario.nombre : 'Cargando...' }}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-button expand="full" color="danger" (click)="confirmarEliminarCuenta()">
    Eliminar mi cuenta
  </ion-button>


  <ion-card *ngIf="mensajeEliminar">
    <ion-card-content>
      {{ mensajeEliminar }}
    </ion-card-content>
  </ion-card>
  
</ion-content>
