<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer para {{ usuario }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>El sistema ha enviado instrucciones a tu correo para restablecer la contraseña.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="terminar()">Volver al inicio</ion-button>
</ion-content>
